<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop" itemscope itemtype="http://schema.org/SiteNavigationElement">
	    <ul>
	        <li><a href="{{ site.url }}" title="Inicio">Inicio</a></li>
	        {% for link in site.links %}
			<li>
				{% if link.external %}
					<a href="{{ link.url }}">{{ link.title }}</a>
				{% else %}
					<a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
				{% endif %}
			</li>
	        {% endfor %}
	        <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed">Feed</a></li>
	        {% if site.search %}<li class="dosearch">Busca</li>{% endif %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}

{% if site.search %}<div class="search-wrapper">
	<div class="search-form">
		<input type="text" class="search-field" placeholder="Search...">
		<i class="icon-remove-sign icon-2x"></i>
		<ul class="search-results post-list"></ul><!-- /.search-results -->
	</div><!-- /.search-form -->
</div><!-- ./search-wrapper -->{% endif %}

<header class="masthead" itemscope itemtype="http://schema.org/Organization">
	<div class="wrap">
		<h1 class="site-title animated fadeIn"><a href="{{ site.url }}">{{ site.title }}</a></h1>
		<h2 class="site-description animated fadeIn" itemprop="description">{{ site.description }}</h2>
	</div>
</header><!-- /.masthead -->